
<div class="container">
  <div class="row">
    <div class="formulario col-xm-12 col-md-12 col-lg-12">
      <form action="/answer">
        <label for="question">Speak to your coach</label>
        <input type="text" class = "form-control" id="question" name="query" placeholder="what time is it?">
        <input type="submit" class ="btn btn-primary" value="Go on!">
      </form>
    </div>
  </div>
</div>

